<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="pl.solvd.concerthallDAO.DAO.interfaces.IGenreDAO">
    <sql id="body">
        g.id, g.type
    </sql>
    <select id="getEntityById" resultMap="genreResultMap">
        SELECT
        <include refid="body"/>
        FROM
        genre g
        WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="genreResultMap">
        SELECT
        <include refid="body"/>
        FROM
        genre g
    </select>
    <insert id="addEntity" useGeneratedKeys="true" keyProperty="id">
        insert into genre (id, type)
        values (#{id},#{type})
    </insert>
    <update id="updateEntity">
        update genre set
        type = #{type},
        where id = #{id}
    </update>
    <delete id="deleteEntity">
        delete from genre where id = #{id}
    </delete>
    <select id="findProgramsByGenreId" resultMap="genreResultMap">
        SELECT
        g.type, p.title, p.description, p.age_limit, p.base_price
        FROM
        genre g
        JOIN program_has_genre pg ON g.id = pg.genre_id
        JOIN program p ON pg.program_id = p.id
        where g.id = #{id}
    </select>
    <select id="findEventsByGenreId" resultMap="genreResultMap">
        SELECT
        g.type, e.category
        FROM
        genre g
        JOIN events_has_genre eg ON g.id = eg.genre_id
        JOIN events e ON eg.events_id = e.id
        WHERE g.id = #{id}
    </select>
    <resultMap id="genreResultMap" type="pl.solvd.concerthall.binary.Genre" autoMapping="false">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <collection property="program" ofType="pl.solvd.concerthall.binary.Program"
                    resultMap="ProgramResultMap"/>
        <collection property="event" ofType="pl.solvd.concerthall.binary.Events"
                    resultMap="EventsResultMap"/>
    </resultMap>
    <resultMap id="ProgramResultMap" type="pl.solvd.concerthall.binary.Program" autoMapping="false">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="age_limit" property="ageLimit"/>
        <result column="base_price" property="basePrice"/>
    </resultMap>
    <resultMap id="EventsResultMap" type="pl.solvd.concerthall.binary.Events" autoMapping="false">
        <id column="id" property="id"/>
        <result column="category" property="category"/>
    </resultMap>
</mapper>
