<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="pl.solvd.concerthalls.DAO.interfaces.IAuthorTypesDAO">
    <sql id="body">
        t.id,
        t.type
    </sql>
    <select id="getEntityById" resultMap="authorTypesResultMap">
        SELECT
        <include refid="body"/>
        FROM
        author_types t
        WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="authorTypesResultMap">
        SELECT
        <include refid="body"/>
        FROM
        author_types t
    </select>
    <insert id="addEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO author_types (id, type)
        VALUES (#{id}, #{type})
    </insert>
    <update id="updateEntity">
        UPDATE author_types SET
        type = #{type},
        WHERE id = #{id}
    </update>
    <delete id="deleteEntity">
        DELETE FROM authorTypes WHERE id = #{id}
    </delete>
    <select id="findAuthorsByAuthorTypesId" resultMap="authorTypesResultMap">
        SELECT
        t.type, a.first_name, a.last_name
        FROM
        author_types t
        JOIN authors_has_author_types at
        ON t.id = at.author_types_id
        JOIN authors a ON at.authors_id = a.id
        WHERE t.id = #{id}
    </select>
    <resultMap id="authorTypesResultMap" type="pl.solvd.concerthalls.binary.AuthorTypes" autoMapping="false">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <collection property="authors"
                    ofType="pl.solvd.concerthalls.binary.Authors" resultMap="AuthorsResultMap"/>
    </resultMap>
    <resultMap id="AuthorsResultMap" type="pl.solvd.concerthalls.binary.Authors" autoMapping="false">
    <id column="id" property="id"/>
    <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
</resultMap>
</mapper>