<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="pl.solvd.concerthalls.DAO.interfaces.IImagesDAO">
    <sql id="body">
        i.id, i.image_path, i.program_id, i.isPrimary
    </sql>
    <select id="getEntityById" resultMap="imagesResultMap">
        SELECT
        <include refid="body"/>
        FROM
        images i
        WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="imagesResultMap">
        SELECT
        <include refid="body"/>
        FROM
        images i
    </select>
    <insert id="addEntity" useGeneratedKeys="true" keyProperty="id">
        insert into images (id, imagePath, programId, isPrimary)
        values (#{id},#{imagePath},#{programId}, #{isPrimary})
    </insert>
    <update id="updateEntity">
        update images set
        imagePath = #{imagePath},
        programId = #{programId}
        isPrimary = #{isPrimary}
        where id = #{id}
    </update>
    <delete id="deleteEntity">
        delete from images where id = #{id}
    </delete>

    <resultMap id="imagesResultMap" type="pl.solvd.concerthalls.binary.Images" autoMapping="false">
        <id column="id" property="id"/>
        <result column="image_path" property="imagePath"/>
        <result column="program_id" property="programId"/>
        <result column="isPrimary" property="isPrimary"/>
    </resultMap>
</mapper>
