<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="pl.solvd.concerthalls.DAO.interfaces.IPosterDAO">
    <sql id="body">
        p.id, p.day, p.month, p.year, p.time
    </sql>
    <select id="getEntityById" resultMap="posterResultMap">
        SELECT
        <include refid="body"/>
        FROM
        poster p
        WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="posterResultMap">
        SELECT
        <include refid="body"/>
        FROM
        poster p
    </select>
    <insert id="addEntity" useGeneratedKeys="true" keyProperty="id">
        insert into poster (id, day, month, year, time)
        values (#{id}, #{day}, #{month}, #{year}, #{time})
    </insert>
    <update id="updateEntity">
        update poster set
        day= #{day},
        month = #{month},
        year = #{year},
        time = #{time}
        where id = #{id}
    </update>
    <delete id="deleteEntity">
        delete from poster where id = #{id}
    </delete>
    <select id="findProgramsByPosterId" resultMap="posterResultMap">
        SELECT
        p.day, p.month, p.year, p.time, pr.title, pr.description, pr.age_limit, pr.base_price
        FROM
        poster p
        JOIN poster_has_program pp ON p.id = pp.poster_id
        JOIN program pr ON pp.program_id = pr.id
        where p.id = #{id}
    </select>
    <resultMap id="posterResultMap" type="pl.solvd.concerthalls.binary.Poster" autoMapping="false">
        <id column="id" property="id"/>
        <result column="day" property="day"/>
        <result column="month" property="month"/>
        <result column="year" property="year"/>
        <result column="time" property="time"/>
        <collection property="program" ofType="pl.solvd.concerthalls.binary.Program"
                    resultMap="ProgramResultMap"/>
    </resultMap>
    <resultMap id="ProgramResultMap" type="pl.solvd.concerthalls.binary.Program" autoMapping="false">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="age_limit" property="ageLimit"/>
        <result column="base_price" property="basePrice"/>
    </resultMap>
</mapper>
